.App {
  font-family: sans-serif;
  text-align: center;
}
.flexStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  height: 98vh;
}
.leftColumn {
  width: 290px;
  min-width: 200px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.rightColumn {
  width: 360px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  border: 1px solid black;
  height: 60px;
  display: flex;
}
.headerButton {
  align-self: center;
}
.headerButtonStyle {
  background: transparent;
  border: none !important;
}
.footer {
  height: 100px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.leftColumnElem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.leftColumnElemIcon {
  width: 35px;
}
.leftColumnElemCount {
  width: 20px;
}
.leftColumnElemText {
  flex-grow: 1;
}
.leftColumnCenter {
  display: flex;
  flex-direction: column;
}
.centerColumn {
  flex-grow: 1;
}
.centerColumnHeader {
  border: 1px solid black;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.centerColumnHeaderIcon {
  width: 100px;
  align-self: center;
  flex-grow: 1;
}
.centerColumnSortDiv {
  width: 120px;
  align-self: center;
}
.rightColumnFooterButtonDiv {
  width: 20px;
  align-self: center;
}
.sortContexMenu {
  width: 130px;
  height: 80px;
  border: 1px solid black;
  background-color: #eeeeee;
}
.sortSelectorDiv {
  border: 1px solid black;
  height: 30px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.addTaskDivInCenterColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  height: 120px;
  display: flex;
}
.centerElem {
  overflow: hidden;
  display: block;
  z-index: 1;
}

.taskCard-Actions{
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  width: 32px;
  height: 32px;
}

.centerElemText {
 margin-right: 1px;
}

.centerElemCount {
  margin-left: .85em;
}

.centerElem-taskCard{
  margin-top:  10px;
  display: flex;
  width : 80%;
}

.taskCard {
  display: flex;
  align-items: baseline;
  padding: 8px 8px;
}